.main__header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 24px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;

  .logo__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    .logo {
      width: 104px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;

      }
    }

    .lang__block {
      margin-left: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      min-width: 114px;
      max-width: 114px;
      p {
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        &.active {
          color: #0c1017;
        }
      }
      //.eng {
      //  position: absolute;
      //  bottom: -40px;
      //  left: 0;
      //  min-width: 114px;
      //  max-width: 114px;
      //  display: none;
      //  transition: .4s;
      //}
      svg {
        width: 9.33px;
        height: 5.6px;
        margin-left: 8px;
        object-position: center;
        object-fit: contain;
        path {
          //fill: #fff;
          &.active {
            fill: #0c1017;
          }
        }
        &.active {
          display: none;
        }
      }
      //&.active {
      //  background-color: #fff;
      //  .ru {
      //    color: #0C1017;
      //    padding: 10px 16px;
      //    min-width: 114px;
      //    max-width: 114px;
      //    transition: background-color .4s;
      //    &:hover {
      //      background-color:  #F3F3F3;
      //    }
      //  }
      //  .eng {
      //    display: block;
      //    background-color: #fff;
      //    padding: 10px 16px;
      //    &:hover {
      //      background-color:  #F3F3F3;
      //    }
      //  }
      //}
    }
  }

  .navigation {
    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        margin-right: 40px;

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          color: #FFFFFF;

          &.active {
            color: #0c1017;
          }
        }
        .plus,
        .mine {
          width: 12px;
          height: 12px;
          margin-left: 8px;
          object-position: center;
          object-fit: contain;
          transform: rotate(0deg);
          transition: .3s;
        }
        .mine {
          display: none;
          transform: rotate(90deg);
          &.active {
            display: block;
            transform: rotate(0deg) !important;
          }
        }
        .plus {
          &.active {
            display: none;
          }
        }
      }
      .open__modal {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & li:first-child:hover a img {
        transform: rotate(90deg);
      }
    }
  }

  .contact__section {
    display: flex;
    align-items: center;
    justify-content: center;

    &--tel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
      }

      & p:last-child {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }

    &--button {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      text-transform: uppercase;
      margin-left: 40px;
      background-color: #4589FF;
      padding: 14px 20px;
      border: none;
    }
    .work__contact {
      &.active {
        color: #0c1017;
      }
    }
  }
  .burger {
    width: 24px;
    height: 24px;
    object-position: center;
    object-fit: contain;
    display: none;
  }
}

// header on contact page
.contact__header {
  position: relative;

  .logo__section {
    .lang__block {
      p {
        color: #0C1017;
      }
    }
  }

  .navigation {
    ul {
      li {
        a {
          color: #0C1017;
        }
      }
    }
  }

  .contact__section {
    &--tel {
      & p,a {
        color: #0C1017!important;
      }
    }
  }
}

// MODAL PRODUCTS IN HEADER

.modal__products {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 72px + 64px;
  padding-bottom: 80px;
  z-index: 19;
  transform: translateY(-150%);
  transition: .4s;
  .col-modal {
    padding: 0 30px;
  }
  img {
    object-position: center;
    object-fit: contain;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0C1017;
    margin-bottom: 12px;
  }
  .modal__list {
    li {
      list-style-type: none;
      height: fit-content;
      min-height: 48px;
      border-bottom: 1px solid  #E7E8E8;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #0C1017;
      }
    }
  }
  &.show {
    transform: translateY(0);
  }
}