.contact__page {
  padding-top: 64px;
  .contact__section {
    border-bottom: 1px solid rgba(12, 16, 23, 0.1);
    padding-bottom: 63px;
    margin-bottom: 57px;
  }
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #0C1017;
    margin: 0 0 39px;
  }
  .main__contact--item {
    margin-bottom: 40px;
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #0C1017;
      margin-bottom: 7px;
    }
    .contact__info {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #6D7074;
      display: block;
    }
    .contact__manager {
      display: flex;
      .manager__photo {
        width: 40px;
        height: 40px;
        object-fit: contain;
        object-position: center;
        margin-right: 16px;
      }
      .name {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 4px;
      }
      .tel,
      .email {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #6D7074;
      }
    }
  }
  .manager__block {
    //padding-bottom: 10px;
    //border-bottom: 1px solid rgba(12, 16, 23, 0.1);
    margin-bottom: 68px;
    h3 {
      margin-bottom: 23px;
    }
    .contact__manager {
      margin-bottom: 22px;
    }
  }
  .main__contact {
    & .manager__block:last-child {
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.contact__form {
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #0C1017;
    margin-bottom: 16px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6D7074;
    margin-bottom: 48px;
  }
  .main__form {
    max-width: none;
    .double {
      display: flex;
      & .main__form--input:first-child {
        margin-right: 24px;
      }
    }
  }
}
.contact__page--form {
  background-color: #fff;
  padding: 105px 48px 156px;
}
.maps {
  width: 100%;
  height: 360px;
  margin-bottom: 64px;
  .contacts-map {
    position: relative;
    width: 100%;
    height: 360px;
    z-index: 1;
    .contact-page__map {
      position: absolute;
      z-index: 1111111;
      height: 100%;
      width: 100%;
      top: 0px;
      right: 0px;
      transition: all 0.4s ease 0s;
    }
  }
}

//.ymaps-2-1-76-float-button {
//  background-color: #3586DC!important;
//  max-width: 50px!important;
//  height: 50px!important;
//  border-radius: 50%!important;
//  padding-left: 50px!important;
//  position: relative!important;
//  display: flex!important;
//  align-items: center!important;
//  justify-content: center!important;
//  top: 25px!important;
//  right: 25px!important;
//  position: relative!important;
//}
//
//.ymaps-2-1-76-float-button-icon_icon_expand,
//.ymaps-2-1-76-float-button-icon_icon_collapse {
//  background: url(../../../media/icon/map-icon.svg)!important;
//  background-position: center!important;
//  background-size: cover!important;
//  position: absolute!important;
//  width: 30px!important;
//  height: 30px!important;
//  background-repeat: no-repeat!important;
//  position: absolute!important;
//  left: 50%!important;
//  transform: translateX(-50%)!important;
//  border: none!important;
//}