

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;
body {
  background: #F8F8F8;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
//p {
//  // margin-top: 200px;
//  a {
//    text-transform: uppercase;
//    text-decoration: none;
//    display: inline-block;
//    color: #fff;
//    padding: 5px 10px;
//    margin: 0 5px;
//    background-color: darken($select-background, 2);
//
//    &:hover {
//      background-color: darken($select-background, 5);
//    }
//  }
//}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: 130px;
  height: $select-height;
}
.select-styled {
  background-color: transparent;
  padding: 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;

  &:after {
    content:"";
    width: 9px;
    height: 6px;
    background-image: url(../../media/icon/arrow-down.svg);
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {

  }
  &:active, &.active {
    //&:after {
    //  transform: rotate(180deg);
    //}
  }
}

.select-options {
  display: none;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  max-height: 340px;
  overflow: hidden;
  overflow-y: scroll;
  li {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(12, 16, 23, 0.8);
    padding: 10px 16px;

    &:hover {
      background: #F2F4F7;
      color: #565B62;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
.select-options::-webkit-scrollbar {
  display: none;
}

.contact__header {
  .select-styled {
    color: #0C1017;
    &:after {
      background-image: url(../../media/icon/arrow-down-b.svg);
    }
  }
}